@charset "ISO-8859-1";
body {
background-color: gray;
font-family: arial,helvetica,sans-serif;
}
.bookHeadline { font-size: 12pt;
color: olive;
font-weight: bold;
}
.bookDescription { font-size: 10pt;
}
label {
font-weight: bold;
}
